# Authr Environment Configuration Example
# Local Development API Base URL:
VITE_API_BASE_URL=http://127.0.0.1:8000/api

# Google Cloud Run Production API Base URL:
# VITE_API_BASE_URL=https://authr-backend-service-902184-uc.a.run.app/api
